#achtergrondHome {
    color: white;
}

#achtergrondProfile {
    color: white;
}

#achtergrondDashboard {
    color: white;
}

#achtergrondFAQ {
    color: white;
}

#achtergrondBlog {
    color: white;
}
