.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tool {
    visibility: hidden;
    width: 120px;
    background-color: #040505;
    font-size:13px;color:#fff;font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 3px;
    padding: 4px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tool::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #040505 transparent;
}

.tooltip:hover .tool {
    visibility: visible;
}
